.photo-grid {
    display: grid;
    grid-template: auto / repeat(4, 1fr);
    gap: 16px;
    max-width: 1184px;
    margin: 0 auto 92px;
}

@media screen and (max-width: 1024px) {
    .photo-grid {
        grid-template: auto / repeat(3, 1fr);
        gap: 14px;
    }
}

@media screen and (max-width: 768px) {
    .photo-grid {
        grid-template: auto / repeat(2, 1fr);
        gap: 16px;
        padding: 0 24px;
        margin: 0 auto 88px;
    }
}
@media screen and (max-width: 767px) {
    .photo-grid {
        grid-template: auto / 1fr;
        margin: 0 auto 64px;
        padding: 0 16px;
    }
}