.intro {
    max-width: 984px;
    margin: 0 auto 92px;
    margin-bottom: 92px;
}

@media screen and (max-width: 768px) {
    .intro {
        margin: 0 auto 88px;
        padding: 0 24px;
    }
}
@media screen and (max-width: 767px) {
    .intro {
        margin: 0 auto 64px;
        padding: 0 16px;
    }
}