.header__lang-list {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 24px;
    line-height: 28px;
    display: flex;
    list-style-type: none;
    color: #FFFFFF;
    margin: 0;
    padding: 0;
}

@media screen and (max-width: 767px) {
    .header__lang-list {
        font-size: 18px;
    line-height: 20px;
    }
}
