.place__item {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(auto, 1fr);
    grid-template-areas: 
    "title website" 
    "image paragraph";
    gap: 48px 40px;
    max-width: 984px;
    margin: 0 auto 80px;
}
@media screen and (max-width: 1024px) {
    .place__item {
        gap: 48px 32px;
    }
}

@media screen and (max-width: 768px) {
    .place__item {
        gap: 48px 28px;
        margin: 0 auto 73px;
    }
}
@media screen and (max-width: 767px) {
    .place__item {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(auto, 1fr);
        grid-template-areas: 
        "title" 
        "website" 
        "image"
        "paragraph";
        margin: 0 auto 50px;
        gap: 32px 0;
    }
}
